.sliderPlaces {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-top: 150px;
}

.sliderPlaces__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.sliderPlaces__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  pointer-events: none;
  color: var(--color-gray-100);
}

.sliderPlaces__sliders {
  width: 100%;
  overflow: hidden;
}

.sliderPlaces__sliderTrack {
  display: flex;
  gap: 20px;
  transition: transform 0.4s ease-in-out;
}

.sliderPlaces__sliderTrack {
  flex-wrap: nowrap; 
}

.placeCard {
  flex: 0 0 calc((100% - 3 * 20px) / 4);
  min-width: 200px;
  max-width: 100%;
}