.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__logo {
  width: 165px;
  height: 32px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}

.header__menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header__dropdown {
  position: relative;
}

.header__dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
}

.header__chevron {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
